<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="../CSS/acceso.css">
</head>
<body>
    <header class="header">
        <div class="barra">
            <a class="logo" href="#">
                <h1 class="logo__nombre no-margin centrar-texto">Diseño y Desarrollo<span class="logo__bold">web</span></h1>
            </a>

            <nav class="navegacion">
            </nav>
        </div>
    </header>
    <div id="Iniciar_sesion">
        <br>
        <label for=""><b>Iniciar sesion:</b></label>
        <br>
        <label for="Nombre de usuario">Nombre de usuario:</label><br>
        <input type="text"><br>
        <label for="Contraseña">Contraseña:</label><br>
        <input type="contraseña"><br>
        <a href="./index.html"><button class="boton">Enviar</button></a>
        <br>
    </div>

    <div id="Crear_cuenta">
        <br>
        <label for=""><b>Crear cuenta:</b></label>
        <br>
        <label for="Nombre">Nombre:</label><br>
        <input type="text"><br>
        <label for="Apellido Paterno">Apellido Paterno:</label><br>
        <input type="text"><br>
        <label for="Apellido Materno">Apellido Materno:</label><br>
        <input type="text"><br>
        <label for="Nombre de usuario">Nombre de usario:</label><br>
        <input type="text"><br>
        <label for="Contraseña">Contraseña:</label><br>
        <input type="contraseña"><br>
        <label for="Correo">Correo:</label><br>
        <input type="email"><br>
        <label for="Telefono">Telefono:</label><br>
        <input type="number"><br>
        <a href="./index.html"><button class="boton">Enviar</button><br></a>
    </div>
</body>
</html>