<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <header class="header">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Diseño y Desarrollo<span class="logo__bold">web</span></h1>
            </a>

            <nav class="navegacion">
                <a href="index.html" class="nav-en">Inicio</a>
                <a href="#" class="nav-en">Acerda De</a>
                <a href="#" class="nav-en">Contacto</a>
                <a href="#" class="nav-en">Nuestro Trabajo</a>
            </nav>
        </div>

        <div class="header_img">
            <div class="hd-text">
                <h2>Diseño y Desarrollo web</h2>
                <p>Conocimiento de bases ddatos, videojuegos, etc</p>
            </div>
        </div>
       
    </header>

    <div class="contendor contenido-principal">
        <main class="info">
            <h3>Informacion</h3>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img src="/IMG/pexels-picjumbocom-196644.jpg" alt="imagen1">
                    </picture>
                </div>

                <div class="entrada-contenido">
                    <h4 class="no-margin">¿Qué es el Diseño web?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, nulla obcaecati sequi voluptatibus perferendis sunt provident? Facere corrupti vel, molestiae, tempore est soluta expedita pariatur maxime, illo voluptatem eligendi eos?
                    Tempora eum dolorum totam iure. Sequi reiciendis mollitia vitae sed alias nesciunt. Quidem odit repellat possimus blanditiis qui. Dolore sit alias tenetur quas nesciunt dignissimos porro, ullam cupiditate nemo consectetur?</p>
                    <a href="#" class="boton">Leer más</a>
                </div>

            </article>


        </main>
      
    </div>












    <script src="/JS/funciones.js" type="text/javascript"></script>
</body>
</html>