<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="../CSS/nuestro_trabajo.css">
    <title>Nuestro Trabajo</title>
</head>
<body>
    <header class="header">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Diseño y Desarrollo<span class="logo__bold">web</span></h1>
            </a>

            <nav class="navegacion">
                <a href="index.html" class="nav-en">Inicio</a>
                <a href="AcercaDe.html" class="nav-en">Acerca De</a>
                <a href="Contacto.html" class="nav-en">Contacto</a>
                <a href="#" class="nav-en">Nuestro Trabajo</a>
            </nav>
        </div>
    </header>
<div class="container">
    <div class="row">
        <div>
            <h1 id="titulo">Flappy Golbat</h1>
            <div id="fondo">
                <img src="../IMG/cueva.jpg" alt="">
                <div id="pasto"></div>
                <h1 id="over">Game Over</h1>
                <h3 id="puntuacion"></h3>
                <div id="tubo1"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo2"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo3"><img src="../IMG/Stalactite.png" alt="torre"></div>
                <div id="tubo1a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="tubo2a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="tubo3a"><img src="../IMG/2.png" alt="torre"></div>
                <div id="marcador"><br><p><b>Flappy Golbat</b></p><p>Para jugar presioné w para que el murcielago pueda volar y encontrar su salida de la baticuava</p><a href="./index.html" class="btn btn-primary" id="Breturn"> Regresar </a></div>
                <div id="jugar">Jugar de nuevo</div>
                <div id="bird"><img src="../IMG/Murcielago.png" alt="murcielago"></div>
            </div>
            <!--////////////////Boton de regresar/////////////////////-->
        </div>
    </div>
  </div>
  <!--/////////Script para cambiar los fondos///////////-->
<script src="../JS/nuestro_trabajo.js"></script>
<body id="body"> 
    <!--//////////////boopstrap///////////////-->
